@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model List<Work>

<link rel="stylesheet" type="text/css" href="~/html/src/plugins/src/table/datatable/datatables.css">

<link rel="stylesheet" type="text/css" href="~/html/src/plugins/css/light/table/datatable/dt-global_style.css">
<link href="~/html/src/assets/css/light/apps/invoice-list.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="~/html/src/plugins/css/dark/table/datatable/dt-global_style.css">
<link href="~/html/src/assets/css/dark/apps/invoice-list.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/html/src/plugins/src/sweetalerts2/sweetalerts2.css">

<style>
    .checkbox-column {
        max-width: 10px;
    }

    .badge {
        cursor: pointer;
    }

    table tr td, tr th {
        text-align: center;
    }

</style>

<div class="layout-px-spacing">

    <div class="middle-content container-xxl p-0">
        <div class="row" id="cancel-row">
            @* Modal information*@
            <div class="modal fade" id="jobinformationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #1B2E4B">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Job Information - <span id="jobinformationPositionName" class="text-warning"></span> </h5>
                            <button type="button" data-bs-dismiss="modal" style="background: transparent; color: #fff; border: none">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="jobinformation" class="d-flex gap-1 flex-wrap"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn btn-light-dark" data-bs-dismiss="modal"><i class="flaticon-cancel-12"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @* Modal infoRequirements*@
            <div class="modal fade" id="requirementsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #1B2E4B">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Job Requirements - <span id="requirementsPositionName" class="text-warning"></span> </h5>
                            <button type="button" data-bs-dismiss="modal" style="background: transparent; color: #fff; border: none">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="requirements" class="d-flex gap-1 flex-wrap"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn btn-light-dark" data-bs-dismiss="modal"><i class="flaticon-cancel-12"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @* Modal infoNote*@
            <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #1B2E4B">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Note - <span id="notePositionName" class="text-warning"></span> </h5>
                            <button type="button" data-bs-dismiss="modal" style="background: transparent; color: #fff; border: none">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="note" class="d-flex gap-1 flex-wrap"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn btn-light-dark" data-bs-dismiss="modal"><i class="flaticon-cancel-12"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12 layout-top-spacing layout-spacing">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4>Works List</h4>
                    <div class="d-flex gap-4">
                        <a asp-area="Admin" asp-controller="Work" asp-action="Create" class="btn btn-primary mb-2">Add New</a>
                        <button class="btn btn-outline-danger mb-2">Delete Selected</button>
                    </div>
                </div>
                <div class="widget-content widget-content-area br-8" style="position: relative">
                    <table id="invoice-list" class="table dt-table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="select-all" />
                                </th>
                                <th>ID</th>
                                <th>Actions</th>
                                <th>Is Active?</th>
                                <th>Position</th>
                                <th>Field</th>
                                <th>Category</th>
                                <th>City</th>
                                <th>Age</th>
                                <th>Education</th>
                                <th>Work Experience</th>
                                <th>Mode of Work</th>
                                <th>Gender</th>
                                <th>Salary</th>
                                <th>Job Information</th>
                                <th>Requirements</th>
                                <th>Note?</th>
                                <th>Company</th>
                                <th>Contact Person</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Publish Date</th>
                                <th>End Date</th>
                                <th>Published by</th>
                                <th>Views</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var w in Model)
                            {
                                <tr id="row-@w.Id">
                                    <td><input type="checkbox" class="field-checkbox" /></td>
                                    <td><span class="inv-number">#@w.Id</span></td>
                                    <td>
                                        @* <a class="badge badge-light-info text-center me-2 action-info" onclick="fieldWork(@w.Id)" data-bs-toggle="modal" data-bs-target="#fieldWork" style="width:35px; height:27px">
                                            <i class="fa-solid fa-info"></i>
                                        </a> *@

                                        <a class="badge badge-light-warning text-start me-2 action-edit"
                                           asp-area="Admin" asp-controller="Work" asp-action="Update"
                                           asp-route-id="@w.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-edit-3">
                                                <path d="M12 20h9"></path>
                                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                            </svg>
                                        </a>

                                        <a class="badge badge-light-danger text-start action-delete"
                                           onclick="deleteItem(@w.Id)">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-trash">
                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                            </svg>
                                        </a>
                                    </td>
                                    <td>
                                        @if (w.IsActive)
                                        {
                                            <span class="badge badge-success inv-status">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger inv-status">Passive</span>
                                        }
                                    </td>
                                    <td><p class="align-self-center mb-0"> @w.Position </p></td>
                                    <td><p class="align-self-center mb-0"> @w.Field.Name </p></td>
                                    <td><p class="align-self-center mb-0"> @w.Category.Name </p></td>
                                    <td><p class="align-self-center mb-0"> @w.City.Name </p></td>
                                    <td><p class="align-self-center mb-0"> @w.MinAge - @w.MaxAge </p></td>
                                    <td><p class="align-self-center mb-0"> @w.Education </p></td>
                                    <td><p class="align-self-center mb-0"> @w.WorkExperience </p></td>
                                    <td><p class="align-self-center mb-0"> @w.ModeOfWork </p></td>
                                    <td><p class="align-self-center mb-0"> @w.Gender </p></td>
                                    <td>
                                        @if (w.IsNegotiable)
                                        {
                                            <p class="align-self-center mb-0 text-warning"> By agreement </p>
                                        }
                                        else
                                        {
                                            <p class="align-self-center mb-0"> @w.Salary </p>
                                        }
                                    </td>
                                    <td>
                                        <a class="badge badge-light-info text-center me-2 action-info" onclick="infoData(@w.Id, 'JobInformation')" data-bs-toggle="modal" data-bs-target="#infoInformation" style="width:35px; height:27px">
                                            <i class="fa-solid fa-info"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="badge badge-light-info text-center me-2 action-info" onclick="infoData(@w.Id, 'Requirements')" data-bs-toggle="modal" data-bs-target="#infoRequirements" style="width:35px; height:27px">
                                            <i class="fa-solid fa-info"></i>
                                        </a>
                                    </td>
                                    <td>
                                        @if (w.Note != null)
                                        {
                                            <a class="badge badge-light-info text-center me-2 action-info" onclick="infoData(@w.Id, 'Note')" data-bs-toggle="modal" data-bs-target="#infoNote" style="width:35px; height:27px">
                                                <i class="fa-solid fa-info"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <p class="align-self-center mb-0 text-danger"> <i class="fa-solid fa-minus"></i> </p>
                                        }
                                    </td>
                                    <td><p class="align-self-center mb-0"> @w.CompanyName </p></td>
                                    <td><p class="align-self-center mb-0"> @w.ContactPerson </p></td>
                                    <td class="text-lg-start">
                                        <span class="inv-email">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                            @w.Email
                                        </span>
                                    </td>
                                    <td><p class="align-self-center mb-0"> @w.Phone </p></td>
                                    <td>
                                        <span class="inv-date">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                            @w.PublishDate
                                        </span>
                                    </td>
                                    <td>
                                        <span class="inv-date">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                            @w.EndDate
                                        </span>
                                    </td>
                                    <td><p class="align-self-center mb-0"> @w.User.Fullname </p></td>
                                    <td><p class="align-self-center mb-0 field-name"> @w.ViewsCount </p></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

        function deleteItem(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You cannot undo this transaction!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete!',
            cancelButtonText: 'No, cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Admin/Work/Delete',
                    type: 'DELETE',
                    data: { id: id },
                    success: function (response) {
                        $('#row-' + id).remove();
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            customClass: {
                                title: 'custom-toast-title'
                            },
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        });

                        Toast.fire({
                            icon: 'success',
                            title: response.message
                        });

                    },
                    error: function () {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            customClass: {
                                title: 'custom-toast-title'
                            },
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        });

                        Toast.fire({
                            icon: 'warning',
                            title: 'Delete operation failed'
                        });
                    }
                });
            }
        });
    }

        function infoData(wId, type) {
            $.ajax({
                url: "/Admin/Work/GetJobInfo",
                data: { wId: wId, type: type },
                success: function(response) {
                    $("#" + type.toLowerCase() + "PositionName").text(response.positionName);
                    $("#" + type.toLowerCase()).html(response.data);
                    $("#" + type.toLowerCase() + "Modal").modal('show');
                },
                error: function() {
                    console.log('Error!');
                }
            });
        }

</script>



<script src="~/html/src/plugins/src/global/vendors.min.js"></script>
<script src="~/html/src/assets/js/custom.js"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->
<script src="~/html/src/plugins/src/table/datatable/datatables.js"></script>
<script src="~/html/src/plugins/src/table/datatable/button-ext/dataTables.buttons.min.js"></script>
<script src="~/html/src/assets/js/apps/invoice-list.js"></script>